#main-nav { 
    background: transparent;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: -1;
    }
} 
header .navbar-nav {
    font-size: clamp(1rem, -0.25rem + 1.6667vw, 1.25rem);
    color: #fff;
    gap: 1.5rem;
    align-items: center;
    @include media-breakpoint-down(xl) {
        gap: 1rem;
    }
    a {
        color: #fff;
        &:hover {
            color: $secondary;
            text-decoration: none; 
        }
    }
}
.navbar-brand img {
    min-width: 189px;
}
.navbar-nav .btn-menu a.nav-link {
    background: #fff;
    color: $primary !important;
    border-radius: 40px;
    text-transform: capitalize;
    border: 1px solid $primary;
    padding: 0 25px;
    height: 47.2px;
    position: relative;
    clip-path: polygon(22px 0%, 100% 0%, 100% 100%, 0% 100%);
    border-bottom-left-radius: 0;
    font-size: clamp(1rem, -.25rem + 1.6667vw, 1.25rem);
    display: flex;
    align-items: center;
    &:hover {
        background: $primary;
        color: #fff !important;
        text-decoration: none;  
    }
    
}
.navbar-nav .btn-menu{
    position: relative;
    margin-left: 3rem;
    min-width: 140px;
    text-align: right;
    @include media-breakpoint-down(xl) {
        min-width: 130px;
    }
    &::before {
        content: "";
        width: 66px;
        background: url('../img/btn-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        display: block;
        height: 47.2px;
        position: absolute;
        top: 0;
        left: -40px;
        z-index: 2;
    }
}
#top-header {
    font-size: clamp(1rem, -0.5625rem + 2.0833vw, 1.3125rem);
    a {
        text-decoration: none;
    }
}
.navbar-toggler {
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.navbar-toggler-icon {
    background: url(../img/burger.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
}
@include media-breakpoint-down(xl) {
    header .navbar-nav {
        gap: 10px;
        li {
            width: 100%;
            a:not(.dropdown-item) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
        .btn-menu {
            max-width: max-content;
        }
        .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after {
                font-size: 20px;
            }
        }
        ul.dropdown-menu {
            margin-top: 1rem;
        }
    }
}
    