.echo-block-hero_banner {
    position: relative;
    padding: 150px 0 2rem;
    height: 100dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        z-index: -1;
        object-position: top center;
    }
}
.hero-banner__text {
    font-size: clamp(1.4rem, 0.1875rem + 3vw, 1.875rem);
    font-family: 'Helvetica World', sans-serif;
    font-weight: 600;
    line-height: 1.2em;
}
.hero-banner__content {
    max-width: 700px;
}



.btn-valtas {
    position: relative;
    margin-left: 35px;
    &::before {
        content: "";
        width: 66px;
        background: url(../img/valtas-btn-icon.png);
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: -30px;
        z-index: 2;
        background-repeat: no-repeat;
    }
    button.wpcf7-form-control.wpcf7-submit.btn,
    a {
        background: linear-gradient(180deg, #012f6b 0, #009fed 100%);
        color: #fff !important;
        border-radius: 40px;
        text-transform: capitalize;
        border: 1px solid #fff;
        padding: 0 25px;
        position: relative;
        clip-path: polygon(22px 0%,100% 0%,100% 100%,0% 100%);
        border-bottom-left-radius: 0;
        text-decoration: none;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: end;
        width: max-content;
        padding-left: 44px;
        font-size: clamp(1rem, -.25rem + 1.6667vw, 1.25rem);
        &:hover {
            background: #012f6b;
        }
    }
    
}