/**************************************/
/*                                    */
/* !Typography                        */
/*                                    */
/**************************************/

/**************************************/
/* !- Register Font Face              */
/**************************************/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v1hlgj');
  src:  url('../fonts/icomoon.eot?v1hlgj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?v1hlgj') format('truetype'),
	url('../fonts/icomoon.woff?v1hlgj') format('woff'),
	url('../fonts/icomoon.svg?v1hlgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/**************************************/
/* !- Icon Font                       */
/**************************************/

%font-icon,
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}


/**************************************/
/*                                    */
/* !Layouts                           */
/*                                    */
/**************************************/

.container-fluid {
	@include media-breakpoint-up(xxl) {
		padding-left: 0;
		padding-right: 0;
		max-width: calc( 100vw - ( 4rem * 2) );
	}
}

.col--equal-height {
	display: flex;
}

figure {
	margin-bottom: 0;
}

.site {
	overflow-x: clip;
}

.site-main {
	overflow-x: hidden;
}

/**************************************/
/* !- Block Layout                    */
/**************************************/

.block--margin {
	margin-top: var(--spacer);
	margin-bottom: var(--spacer);

	@include media-breakpoint-down(sm) {
		margin-top: var(--spacer-sm);
		margin-bottom: var(--spacer-sm);
	}

	@include media-breakpoint-only(sm) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--margin-sm {
	margin-top: var(--spacer-sm);
	margin-bottom: var(--spacer-sm);
}

.block--margin-md {
	margin-top: var(--spacer-md);
	margin-bottom: var(--spacer-md);
}

.block--margin-lg {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--padded {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-up(lg) {
		padding-top: var(--spacer);
		padding-bottom: var(--spacer);
	}
}

.block--padded-sm {
	padding-top: var(--spacer-sm);
	padding-bottom: var(--spacer-sm);
}

.block--padded-md {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-down(sm) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padded-lg {
	padding-top: var(--spacer-lg);
	padding-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padding-top-none {
	padding-top: 0;
}

.block--margin-top {
	margin-top: var(--spacer);
}

.block--margin-top-none {
	margin-top: 0;
}

.block--margin-top-sm {
	margin-top: var(--spacer-sm);
}

.block--margin-top-none--sm {
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
}

.block--margin-md-top {
	margin-top: var(--spacer-md);
}

.block--margin-md-bottom {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-none {
	margin-bottom: 0;
}

.block--margin-bottom {
	margin-bottom: var(--spacer);
}

.block--margin-bottom-sm {
	margin-bottom: var(--spacer-sm);
}

.block--margin-bottom-md {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-lg {
	margin-bottom: var(--spacer-lg);
}

.block--fullwidth {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

/**************************************/
/* !- Block Background                */
/**************************************/

.block--bg {
	position: relative;
	overflow: hidden;
}

.block__bg,
img.block__bg {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.block--fg {
	position: relative;
	z-index: 2;
}

/****************************************/
/* !- Cookiyes cookie banner overlay    */
/* this will be specific for the cookie */
/* yes plugin                           */
/**************************************/
body .cky-consent-container .cky-consent-bar {
	max-width: 100% !important;
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 400px;
}
body .cky-consent-container {
	background: rgb(0 0 0 / 70%) !important;
	height: 100% !important;
	align-items: end !important;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 0;
}

.cky-switch input[type="checkbox"]:before {
	display: none !important;
}

@media screen and (max-width:500px) {
	body .cky-consent-container .cky-consent-bar {
		left: 0;
		bottom: 0;
	}
}

/**************************************/
/* !- Accordion Block                 */
/**************************************/
.accordion-block {
	.accordion-items {

	}

	.accordion-items__item {
		margin-bottom: 1.5rem;
	}

	.accordion-items__item__question {

		span {

		}
	}

	.accordion__answer {
		p {
			margin: 0;
		}
	}

	
}
/*
.step-text {
	text-align: justify;
    padding: 0 .5em;
}
*/
.icon-text p {
    font-family: "EB Garamond", serif;
    line-height: 1.2em;
}
.page-title__title a {
    text-decoration: none;
}
.hbspt-form .input {
	position: relative;
}
.hbspt-form .hs-input {
    color: rgba(0, 0, 0, .5);
    padding: .7rem 1rem !important;
    margin-bottom: 1rem;
    box-shadow: none !important;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .02);
	width: 100% !important;
    max-width: 582px !important;
	box-sizing: border-box !important;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	font-family: "EB Garamond", serif;
}
.hbspt-form .hs-form-field span {
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	font-family: "EB Garamond", serif;

}
.hbspt-form .hs-form-private {
    padding: 2rem !important;
}
.hbspt-form .hs_submit .actions {
	width: max-content;
    margin: auto !important;
    padding: 0 !important;
    position: relative;
	&:before {
		content: "";
		width: 66px;
		background: url(../img/valtas-btn-icon.png);
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: -30px;
		z-index: 2;
		background-repeat: no-repeat;
	}
	input.hs-button.primary.large {
		background: linear-gradient(180deg, #012f6b 0, #009fed 100%);
		color: #fff !important;
		border-radius: 40px;
		text-transform: capitalize;
		border: 1px solid #fff;
		padding: 0 25px;
		position: relative;
		clip-path: polygon(22px 0%, 100% 0%, 100% 100%, 0% 100%);
		border-bottom-left-radius: 0;
		text-decoration: none;
		height: 55px;
		display: flex;
		align-items: center;
		width: -moz-max-content;
		width: max-content;
		padding-left: 44px;
		font-size: clamp(1.15rem, -.25rem + 1.6667vw, 1.25rem);
		font-family: "EB Garamond", serif;
		font-weight: normal;
		&:hover {
			box-shadow: none;
			background: $primary;
		}
	}
}
label.hs-error-msg.hs-main-font-element {
	font-family: "EB Garamond", serif;
	color: $secondary;
}


.sidebar-form:before {
    content: 'Subscribe';
    padding: 1rem;
    background: #009fed;
    margin: 0 auto 1rem;
    width: -moz-max-content;
    width: max-content;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    font-family: "Helvetica world", sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}